<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>책 수정</title>
    <!-- Bootstrap CSS 추가 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  </head>
  <body>
    <div class="container mt-5">
      <h2 class="mb-4">책 수정</h2>
      <form action="/books/update" method="post" th:object="${book}">
        <input type="hidden" th:field="*{id}" />
        <div class="form-group">
          <label for="title">제목:</label>
          <input type="text" class="form-control" id="title" th:field="*{title}" required />
        </div>
        <div class="form-group">
          <label for="subtitle">부제목:</label>
          <input type="text" class="form-control" id="subtitle" th:field="*{subtitle}" required />
        </div>
        <div class="form-group">
          <label for="publicationDate">출판일</label>
          <input type="date" class="form-control" id="publicationDate" name="publicationDate" th:value="${#dates.format(book.publicationDate, 'yyyy-MM-dd')}" required />
        </div>
        <div class="form-group">
          <label for="subject">주제:</label>
          <input type="text" class="form-control" id="subject" th:field="*{subject}" required />
        </div>
        <div class="form-group">
          <label for="publisher">출판사:</label>
          <input type="text" class="form-control" id="publisher" th:field="*{publisher}" required />
        </div>
        <div class="form-group">
          <label for="pageCount">페이지 수:</label>
          <input type="number" class="form-control" id="pageCount" th:field="*{pageCount}" required />
        </div>
        <button type="submit" class="btn btn-primary">수정</button>
        <!-- 삭제 버튼 -->
        <button type="button" th:onclick="'deleteBook();'" class="btn btn-danger">삭제</button>

        <script>
          function deleteBook() {
            console.log(document.getElementById("id").value);
            if (confirm("정말로 삭제하시겠습니까?")) {
              // fetch를 사용하여 DELETE 메서드 전송
              fetch(`/books/${document.getElementById("id").value}`, {
                method: "DELETE",
                headers: {
                  "Content-Type": "application/json",
                },
              })
                .then((response) => {
                  if (!response.ok) {
                    throw new Error("삭제에 실패했습니다.");
                  }
                  // 목록화면으로 이동
                  window.location.href = "/books";
                })
                .catch((error) => {
                  // 오류 처리
                  alert(error.message);
                });
            }
          }
        </script>
      </form>
    </div>

    <!-- Bootstrap JS 및 Popper.js 추가 (필요한 경우) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
